body {
  width: 80%;
  /* background-color: white; */
  border: 1em solid #0000006f;
  border-radius: 5em;
  padding: 3vh;
  margin: 5vh auto;
  background-image: url("/001.jpg");
  background-attachment: fixed;
  background-size: cover;
}
